<!DOCTYPE html>
<html>
    <head>
        <title>
          AboutUS!
        </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        
        <img src="/img/pic.jpg" alt="mypic" width="200px" height="200px">
  {{>footer}}

    </body>
</html>